@model QuanLiThuVien.Models.QuanLyThuVienEntities
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/_Layout.cshtml";
}

@if (TempData["notice"] != null)
{
    if(TempData["notice"] == "1")
    {
        <script type="text/javascript">
            alert('Gửi mail thành công!');
        </script>
    }
    else
    {
        <script type="text/javascript">
            $("#to").val("@TempData["to"]");
            $("#subject").val("@TempData["subject"]");
            alert('Mật khẩu or mail của bạn không đúng, Vui lòng nhập lại');
        </script>
    }
    
}
<div class="col-md-4">
    <ul class="list-group">
        <li class=" list-group-item"><a href="~/Public/GetListBorrowedRoom"> Trang chủ </a> </li>
        <li class="list-group-item"><a href="~/Employee/BorrowedBook"> Mượn sách </a> </li>
        <li class="list-group-item"><a href="~/Employee/BorrowedRoom"> Mượn phòng </a> </li>
        <li class=" list-group-item"><a href="~/Employee/Mail"> Soạn mail </a> </li>
    </ul>
</div>
<div class="col-md-8">
    <div class="panel panel-success" align="center">
        <div class="panel-heading">
            <font size="6" color="blue" face="arial"><b>   Soạn mail </b> </font>
        </div>
    </div>
    @using (Html.BeginForm("SendMail", "Employee", FormMethod.Post))
    {
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" name ="yourmail" placeholder="Email của bạn">
            <span class="error_msg1"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Mật khẩu: </label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
            <span class="error_msg2"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Tới</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="to" id="to" placeholder="Tới Email" value='@TempData["to"]'>
        </div>
     </div>
     <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Chủ đề</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="subject" name="subject" placeholder="Chủ đề" value='@TempData["subject"]'>
        </div>
     </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Nội dung</label>
        <textarea cols="10" name="content" rows="2" style="margin: 0px 0px 20px; width: 753px; height: 102px;"> @if (TempData["content"] != null || TempData["content"] != "") { @TempData["content"]; } </textarea>
    </div>
    <button type="submit" class="btn btn-default">Gửi</button>
   }
</div>
