@model QuanLiThuVien.Models.DOCGIA
@{
    ViewBag.Title = "add";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>THEM DOC GIA</h2>

@using (Html.BeginForm("save", "Reader", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<div id="contenttop"></div>
<div id="sidebar">

    <h2>Categories</h2>
    <ul>
        <li> @Html.ActionLink("Them doc gia", "add", "Home") </li>
        <li> @Html.ActionLink("Tim doc gia", "search", "Home")</li>
        <li> @Html.ActionLink("Danh sach doc gia tap huan", "createst", "Home")</li>
        <li> @Html.ActionLink("Cap nhat doc gia", "updatest", "Home") </li>
        <li> @Html.ActionLink("Chi tiet doc gia", "detailst", "Home") </li>
        <li> @Html.ActionLink("Y kien", "suggestion", "Home") </li>
        <li> @Html.ActionLink("Ket qua dat phong", "datphong", "Home") </li>
    </ul>

</div>

<div id="left">
    <p>
        <table class="table table-bordered" style="align-items:center">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td> Hoten: </td>
                <td>@Html.EditorFor(model => model.Hoten)
                    @Html.ValidationMessageFor(model => model.Hoten)</td>
            </tr>
            <tr>
                <td> MSSV: </td>
                <td>@Html.EditorFor(model => model.MHV_MSSV)
                    @Html.ValidationMessageFor(model => model.MHV_MSSV)</td>
            </tr>
            <tr>
                <td> Email: </td>
                <td>@Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email) </td>
            </tr>
            <tr>
                <td> CMND: </td>
                <td>@Html.EditorFor(model => model.CMND)
                    @Html.ValidationMessageFor(model => model.CMND) </td>
            </tr>
            <tr>
                <td> DiaChi: </td>
                <td>@Html.EditorFor(model => model.DiaChi)
                    @Html.ValidationMessageFor(model => model.DiaChi) </td>
            </tr>

            <tr>
                <td> Truong: </td>
                <td>@Html.EditorFor(model => model.Truong)
                    @Html.ValidationMessageFor(model => model.Truong)</td>
            </tr>
            <tr>
                <td> Khoa: </td>
                <td>@Html.EditorFor(model => model.Khoa)      
                @Html.ValidationMessageFor(model => model.Khoa) </td>
            </tr>
        </table>

    </p>
    <p>
        <input type="submit" value="Create"/>
        <input type="submit" value="Cancle"/>
    </p>
</div>
}
<div class="clear">
</div>
