@model IEnumerable<QuanLiThuVien.Models.THONGTINMUONTRA>

@{
    ViewBag.Title = "layDsMuonTra";
    Layout = "~/Views/_Layout.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Content/css/table_normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/css/table_style.css")">

<h1 class="text-center">Danh sách mượn trả</h1>

@using (Html.BeginForm("layDsMuonTra", "docgia", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-2 col-md-push-3">
            @Html.RadioButton("radTuyChon", "Taca", true)
            <label> &nbsp;Xem tất cả</label>
        </div>
        <div class="col-md-2 col-md-push-3">
            @Html.RadioButton("radTuyChon", "SachChuaTra")<label> &nbsp; Sách chưa trả </label>
        </div>
        <div class="col-md-2 col-md-push-3">
            @Html.RadioButton("radTuyChon", "SachQuaHan")<label> &nbsp; Sách quá hạn</label>
        </div>
        <div class="col-md-1 col-md-push-3 ticket-item">
            @*@Html.ActionLink("Xem", "layDsMuonTra", "docgia", new {@class="col-md-push-1 ticket-btn"} )*@
            @*if htmlAttributes is class => must use <@class=""> *@
        </div>
    </div>

}

<table class="responstable">
    <tr>
        <th>STT</th>
        <th>Mã sách</th>
        <th>Tên sách</th>
        <th>Ngày mượn</th>
        <th>Hạn trả</th>
        <th>Gia hạn</th>
        <th>Tùy chọn</th>
    </tr>

    @if (Model == null)
    {
        <tr>
            <td><h2> Không có dữ liệu </h2></td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            //for (int i = 0; i < Model.) {
            <tr>
                <td>@*STT*@</td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDSach)
                </td>
                <td>@*Tên sách*@</td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HanTra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaHan)
                </td>
                <td>
                    @Html.ActionLink("Xem chi tiết", "")
                </td>
            </tr>
        }
    }
</table>
<script>
    $(document).ready(function () {
        $('input[name=radTuyChon]').change(function () {
            $('form').submit();
        });
    });
</script>