@model IEnumerable<QuanLiThuVien.Models.VIEW_BORROWERS>

@{
    //ViewBag.Title = "getListBorrowers";
    Layout = "~/Views/_Layout.cshtml";
}

@*<h2>getListBorrowers</h2>*@

<link rel="stylesheet" href="@Url.Content("~/Content/css/reader_style.css")">

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<div class="row">
    <div class="col-md-10 col-md-push-1">
        <table class="table" style="color: black">
              <tr class="bg-danger">
                <th>
                    STT
                </th>
                <th>
                    Họ tên
                </th>
                  <th>
                    Mã đọc giả
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>
                    Số CMND
                </th>
                <th>
                    Email
                </th>
                <th>
                    Trường
                </th>
                <th>
                    Khoa
                </th>
                <th></th>
            </tr>
        @foreach (var item in Model) {
            <tr class="list_reader">
                <td class="list_reader">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td class="list_reader">
                    <div class="row">
                        <div class="name_avatar">@Html.DisplayFor(modelItem => item.Hoten)</div>    
                        <img class="img-circle img_avatar" src="@Html.DisplayTextFor(modelItem => item.Avatar)"/>
                            
                    </div>
                    
                </td>
                <td class="list_reader">
                    @Html.DisplayFor(modelItem => item.MHV_MSSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Truong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Khoa)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }
        </table>
    </div>
</div>